.forgot_password{
    background-color: #00292d;
    width: 550px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 55px 0;
    margin-top: 17vh;
}

.forgot_password h2{
    color: #fff;
    margin-bottom: 35px;
}

.forgot_password p{
    margin-bottom: 30px;
}

.forgot_password > p >img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    position: absolute;
    /* display: inline-block; */
}


.forgot_password > p > input{
    font-size: 17px;
    /* width:300px; */
    padding: 10px 24px;
    outline: none;
    border: none;
    margin-top: 5px;
    background-color: #476468;
    
}

.forgot_password_email > input{
    border-bottom-right-radius : 20px;
    border-top-right-radius : 20px;
    margin-left: 30px;
}

.forgot_password_pass > input{
    border-bottom-left-radius : 20px;
    border-top-left-radius : 20px;
    margin-right: -19px;
}


.forgot_password > p > input::placeholder{
    color: rgba(0, 0, 0, 0.7);
}


.forgot_password_btn{
    background-color: #fff;
    color: #00222d;
    font-weight: bolder;
    border-radius: 30px;
    padding: 12px 80px;
    display: inline-block;
    cursor: pointer;
}