@import url('../../Constant/cssConstant/cssConstant.css');

.admin_user_account{
    width: 600px;
    padding: 27px 45px;
    background-color:#00292d;
    color: var( --card-text-color);
    margin: auto;
    margin-top: 10vh;
}

.admin_user_account h3{
    margin-bottom: 25px;
    text-align: center;
}

.admin_user_account p{
    margin-bottom: 12px;
    padding: 14px 25px;
    background-color:#001e20;
    border-radius: 7px;
}

.admin_user_account_pass{
    display: flex;
    justify-content: space-between;
}

.admin_user_account_pass_edit{
    cursor: pointer;
}

.admin_user_account_pass_edit:hover{
    color: rgba(255, 255, 255, 0.5);
    /* text-decoration: underline; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.admin_user_account_delete{
    text-align: end ;
}

.admin_user_account_delete button{
    padding: 14px 25px;
    background-color:#001e20;
    color: var( --card-text-color);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin_user_alert_msg{
    position: fixed;
    z-index: 5;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
